body{
    font-family: 'Montserrat', sans-serif;
}

ul{
    margin-right: 16px;
}

ul li {
    display: inline-block;
    margin-left: 35px;
    margin-top: 15px;
    margin-right: 35px;
}

ul li a {
    text-decoration: none;
    color: black;
}
ul li a:hover {
    color: black;
    transition: 0.4s;
    font-weight: bold;
}

h2{
    font-weight: bold;
    font-size: 50px;    
}

h1{
    font-weight: bold;
    font-size: 80px; 
    color: rgb(163, 162, 162);
}

a {
    text-decoration:none;
    color: white;
}

a:hover{
    text-decoration:none;
    color: rgb(44, 44, 44);
}

.bouton_contact{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(44, 44, 44); 
    border-style: ridge;
    border-width: 1px;
    border-color: rgb(44, 44, 44);
    color: white;
}

.bouton_contact:hover{
    background-color: white; 
    border-color: rgb(44, 44, 44);
    border-width: 1px;
    border-style: ridge;
    transition: 0.6s;
    color: rgb(44, 44, 44);
}

#blog{
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
    margin-left: 70px;
    margin-right: 70px;
}

.img_blog {
    width : 100px; height : 100px;
    border-radius : 75px;
    text-align:center;
    margin:auto;
    display:flex;
    margin-top: 50px;
    object-fit: cover;
    margin-top: -70px;
    border-color: gray;
    border-width: 5px;
    border-style: ridge;
    
 }

 #profession_commentaire{
    margin-top: -20px;
    font-size: 14px;
 }

.checked {
    color: rgb(44, 44, 44);
}

.not_checked {
    color: gray;
}

.bouton_lire{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(44, 44, 44); 
    border-style: ridge;
    border-width: 1px;
    border-color: rgb(44, 44, 44);
    color: white;
}

.bouton_lire:hover{
    background-color: white; 
    border-color: rgb(44, 44, 44);
    border-width: 1px;
    border-style: ridge;
    transition: 0.6s;
    color: rgb(44, 44, 44);
}

.bouton_contact_footer{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(44, 44, 44); 
    border-style: ridge;
    border-width: 2px;
    border-color: #6a6a6b;
    color: #6a6a6b;
}

.bouton_contact_footer:hover{
    background-color: #6a6a6b; 
    border-color: white;
    border-width: 2px;
    border-style: ridge;
    transition: 0.6s;
    color: rgb(44, 44, 44);
    color: white;
}

footer {
    width:100%;     
    height:50px;   /* Hauteur du pied de page */
    background-color: rgb(44, 44, 44);
    color:gray;
}

.popup{
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.6);
    padding-top: 60px;
    display: none;
    

}

#container{
   border: 1ps solid blue; 
   margin: 5% auto 10% auto;
   width: 50%;
   
}

#row{
    animation: anim .6s;
}

.close{
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.close:hover{
    color: gray;
    cursor: pointer;
}

@keyframes anim {
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }
}

#image_popup{
    background-image: url("assets/images/popup-1.jpg");
}

.bouton_contact_header{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white; 
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(44, 44, 44);
    color: rgb(44, 44, 44);
}

.bouton_contact_header:hover{
    background-color: rgb(44, 44, 44); 
    border-color: white;
    border-width: 2px;
    border-style: ridge;
    transition: 0.6s;
    color: white;
}

.a_header {
    color: rgb(44, 44, 44);
    text-transform: uppercase;
    margin: 1rem;
    font-weight:bold;
}

.a_header {
    text-decoration: none;
    position: relative;
}


.a_header::before {
    content: "";
    background-color: rgb(44, 44, 44);
    transition: 0.4s ease-out;
    width: 0%;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: -3px
}

.a_header:hover::before{
    width: 100%;

}

.img_header_p {
    width : 70px; height : 70px;
    border-radius : 75px;
    display:flex;
 }


