@import url('assets\montserrat-webfont\webfonts\Montserrat-Light.woff');

ul{
    margin-right: 16px;
}

ul li {
    display: inline-block;
    margin-left: 35px;
    margin-top: 15px;
    margin-right: 35px;
}

ul li a {
    text-decoration: none;
    color: black;
}
ul li a:hover {
    color: gray;
    transition: 0.6s;
}

h2{
    font-weight: bold;
    font-size: 50px;    
}

h1{
    font-weight: bold;
    font-size: 80px; 
    color: rgb(163, 162, 162);
}

a {
    text-decoration:none;
    color: white;
}

a:hover{
    text-decoration:none;
    color: rgb(44, 44, 44);
}

.bouton_contact{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(44, 44, 44); 
    border-style: ridge;
    border-width: 1px;
    border-color: rgb(44, 44, 44);
    color: white;
}

.bouton_contact:hover{
    background-color: white; 
    border-color: rgb(44, 44, 44);
    border-width: 1px;
    border-style: ridge;
    transition: 0.6s;
    color: rgb(44, 44, 44);
}

#blog{
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
    margin-left: 70px;
    margin-right: 70px;
}

.img_blog {
    background-image: url(photo.jpg);
    width : 100px; height : 100px;
    border-radius : 75px;
    text-align:center;
    margin:auto;
    display:flex;
    margin-top: 50px;
    object-fit: cover;
    margin-top: -70px;
 }

 #profession_commentaire{
    margin-top: -20px;
    font-size: 14px;
 }

.checked {
    color: rgb(44, 44, 44);
}

.not_checked {
    color: gray;
}

.bouton_lire{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(44, 44, 44); 
    border-style: ridge;
    border-width: 1px;
    border-color: rgb(44, 44, 44);
    color: white;
}

.bouton_lire:hover{
    background-color: white; 
    border-color: rgb(44, 44, 44);
    border-width: 1px;
    border-style: ridge;
    transition: 0.6s;
    color: rgb(44, 44, 44);
}
