@import url('assets\montserrat-webfont\webfonts\Montserrat-Light.woff');

ul{
    margin-right: 16px;
}

ul li {
    display: inline-block;
    margin-left: 35px;
    margin-top: 15px;
    margin-right: 35px;
}

ul li a {
    text-decoration: none;
    color: black;
}
ul li a:hover {
    color: gray;
    transition: 0.6s;
}

h2{
    font-weight: bold;    
}

h1{
    font-weight: bold;
    font-size: 80px; 
    color: rgb(163, 162, 162);
}

a {
    text-decoration:none;
}

.bouton_contact{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(44, 44, 44); 
    border-color: rgb(44, 44, 44);
}

.bouton_contact:hover{
    padding-left: 30px;
    padding-right: 30px;
    background-color: gray;
    transition: 0.6s;
}
